{% extends "./Front/Layout/layout.html.twig" %}

{% block topbar %}{% endblock %}

{% block body %}
    <form method="post" class="text-center mb-5 mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

    </form>
{% endblock %}
