<!DOCTYPE html>
<html>
<head>

    <script src="{{ asset('dist/main.js') }}"></script>

</head>
<body>

    {% block header %}
        {% include './Front/Layout/header.html.twig' %}
    {% endblock %}
    
    {% block body %}{% endblock %}

    {% block footer %}
        {% include './Front/Layout/header.html.twig' %}
    {% endblock %}

</body>
</html>