{% extends "./Front/Layout/layout.html.twig" %}

{% block topbartext %}
    NOUS CONTACTER
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <h4>Veuillez remplir le formulaire ci dessous pour envoyer un mail directement dans la corbeille.</h4>
            </div>
            <div class="col-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}