{% extends "./Front/Layout/layout.html.twig" %}

{% block topbar %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <h1>Mentions légales</h1>
                {{ text|nl2br }}
            </div>
        </div>
    </div>
{% endblock %}
