<footer class="py-1 bg-dark">
    <div class="container">
        <ul class="navbar-nav ml-auto navbar-expand-md">
            <li class="nav-item active mr-3">
                <a class="nav-link" href="{{ path('mentions_legales')}}">Mentions légales
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active mr-3">
                <a class="nav-link" href="{{ path('conditions_generales')}}">Conditions générales
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('plan_site')}}">Plan du site
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.container -->
</footer>